<!-- Importing dependencies -->

<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-input/paper-textarea.html">
<link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="bower_components/neon-animation/">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="bower_components/iron-menu-behavior/iron-menu-behavior.html">
<link rel="import" href="bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="bower_components/paper-card-sit/paper-card-sit.html">


<!-- End of imports -->

<!-- Start of the component -->
<dom-module id="paper-form-sit">
  <template>
    <style>
      /* .father-element{
        display: flex;
      } */
      paper-input {
        display: inline-block;
        width: 15rem;
      }

      paper-dropdown-menu {
        display: inline-block;
        margin-bottom: 1rem;
        width: 15rem;
      }

      paper-textarea {
        display: inline-block;
        width: 15rem;
      }

      paper-checkbox {
        display: inline-block;
        margin-left: 2em;
      }

      paper-button{
        background-color: rgba(0, 255, 255, 0.466);
      }
    </style>

    <template is="dom-if" if="[[content]]">
      <div class="main">
        <h1>[[content.title]]</h1>
        <p>[[content.message]]</p>
        <template is="dom-repeat" items="[[content.elements]]" as="element">
          <div class="father-element">
            <template is="dom-repeat" items="[[element.group]]" as="group">

              <template is="dom-if" if="[[_isEqualTo(group.type, 'card')]]">
                <paper-card-sit></paper-card-sit>
              </template>

              <template is="dom-if" if="[[_isEqualTo(group.type, 'input')]]">
                <paper-input label="[[group.placeholder]]" on-value-changed="_changedInput" type="[[group.typeNumber]]"></paper-input>
              </template>

              <template is="dom-if" if="[[_isEqualTo(group.type, 'textarea')]]">
                <paper-textarea label="[[group.placeholder]]" on-value-changed="_changedText"></paper-textarea>
              </template>

              <template is="dom-if" if="[[_isEqualTo(group.type, 'dropdown')]]">
                <paper-dropdown-menu label="[[group.placeholder]]" horizontal-align="center" vertical-offset="60">
                  <paper-listbox slot="dropdown-content" class="dropdown-content">
                    <template is="dom-repeat" items="[[group.options]]" as="option">
                      <paper-item value="[[option.value]]" on-click="_changedSelection">[[option.value]]</paper-item>
                      <br>
                    </template>
                  </paper-listbox>
                </paper-dropdown-menu>
              </template>

              <template is="dom-if" if="[[_isEqualTo(group.type, 'checkbox')]]">
                <paper-checkbox on-change="_changedCheck">[[group.text]]</paper-checkbox>
              </template>

            </template>
            <paper-button toggles on-click="_clicked">{{element.button.text}}</paper-button>
            <paper-button raised disabled>Click me... Or not</paper-button>

          </div>
        </template>
      </div>
    </template>
  </template>

  <script>
    /**
     * `paper-form-sit`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperFormSit extends Polymer.Element {
      static get is() {
        return 'paper-form-sit';
      }
      static get properties() {
        return {
          content: {
            type: Object,
          }
        };
      }

      /* Function to compare if the type of the object is equal to the expected example
      This method it's fundamental
       */
      _isEqualTo(a, b) {
        return a === b;
      }

      /* Function that detect a change on the text input */
      _changedInput(e) {
        let modelInput = e.detail;
        this.dispatchEvent(new CustomEvent('change-input', {
          detail: JSON.parse(JSON.stringify(modelInput)),
        }));
      }

      _changedText(e) {
        let modelInput = e.detail;
        this.dispatchEvent(new CustomEvent('change-text', {
          detail: JSON.parse(JSON.stringify(modelInput)),
        }));
      }

      _changedCheck(e) {
        let modelInput = e.target.checked;
        this.dispatchEvent(new CustomEvent('change-input', {
          detail: JSON.parse(JSON.stringify(modelInput)),
        }));
      }
      _changedSelection(e) {
        let modelInput = e.model.option.value;
        this.dispatchEvent(new CustomEvent('change-select', {
          detail: JSON.parse(JSON.stringify(modelInput))
        }));

      }

      _clicked(e) {
        let buttonInput = e.model.element.button;
        this.dispatchEvent(new CustomEvent('clicked', {
          detail: JSON.parse(JSON.stringify(buttonInput))
        }));
      }
    }


    window.customElements.define(PaperFormSit.is, PaperFormSit);
  </script>
</dom-module>
